* {
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	margin: 0;
	outline: none;
	padding: 0;
}

body {
	background-color: #f6f6f6;
	display: flex;
	justify-content: center;
	padding: 32px;
}

main {
	align-items: center;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	padding: 20px;
}

input {
	border: 1px solid lightgrey;
	border-radius: 5px;
	padding: 10px;
	width: 100%;
}

table {
	border-collapse: collapse;
	width: 100%;
}

table,
th,
td {
	border: 1px solid #0056b3;
	padding: 10px;
	text-align: left;
}

table th {
	background-color: #007bff;
  color: #fff;
}

table tr:nth-child(even) {
	background-color: #f2f2f2;
}

i {
  font-size: 25px;
	color: darkred;
}


.resume {
	background-color: #f8f9fa;
	border-radius: 10px;
	display: flex;
	gap: 40px;
	justify-content: space-around;
	padding: 20px;
	width: 100%;
}

.resume > div {
	padding: 20px;
	text-align: center;
}

.new-item .inputs {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: space-around;
	margin-top: 20px;
}

.new-item .inputs > div {
	width: 100%;
}

.new-item button {
	background-color: #007bff;
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	margin-top: 20px;
	padding: 10px 20px;
	transition: background-color 0.3s ease;
}

.new-item button:hover {
	background-color: #0056b3;
}

.div-table {
	margin-top: 20px;
	width: 100%;
}

.column-action {
	text-align: center;
}

.delete-btn {
	background: none;
	border: none;
	cursor: pointer;
}
